@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");

@import "tailwindcss";

@theme {
  --font-sans:
    var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  font-family: "NanumSquare", sans-serif;
  color: #302c27;
}
